.header-md::after
{
    display: none;
}

ion-header
{
    ion-toolbar
    {

        --border-style: none;

        ion-buttons
        {
            ion-icon
            {
                font-size: xx-large;
            }
        }
    }
}

.form
{
    .text
    {
        padding-bottom: 10%;
        text-align: center;
    }
}

.hidden
{
    display: none;
}

.logo
{
    height: 40%;
    text-align: center;
    img
    {
        margin-bottom: 5%;
    }
}

.appName
{
    font-size: xx-large;
    font-family: poppins-semibold;
    margin-top: -2%;
}


.form
{
    
    padding: 0% 10%;
    *
    {
        font-family: poppins-semibold;
    }

    .emailContainer
    {
        margin-top: -10%;
    }



ion-button
    {
        --border-color: #0094fc;
        --border-radius: 15vw !important;
        p
        {
            color: #ffffff !important;
            font-size: small;
        }
        ion-icon
        {
            fill: white;
            margin-right: 3%;
        }
    }
}

ion-item
{
    --background: none;
}


.md .androidLetterSpacing
{
    letter-spacing: 0;
    text-transform: capitalize
}

ion-toast.mailSentToast
{
    text-align: center !important;
    font-family: poppins-regular !important;
    --background: linear-gradient(to right, #8A04ED, #0073ff, #0094fc, #00a7c4, #00B297);
}