.header-md::after
{
    display: none;
}

ion-header
{
    ion-toolbar
    {

        --border-style: none;

        ion-buttons
        {
            ion-icon
            {
                font-size: xx-large;
            }
        }
    }
}

ion-content
{
    ion-list
    {
        background: var(--background) !important;
        h4
        {
            margin-left: 4vw;
            background-color: var(--background) !important;
        }
        .item
        {
            --background: var(--background) !important;
            padding: 0 5%;
        }
    }
}
.logout
{
    padding: 0 10%;
    p
    {
        color: #ffffff !important;
        font-family: poppins-semibold;
    }
}

.popover-content
{
    --width: 50vw
}