*
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ion-header
{
    ion-toolbar
    {
        --background: #2196f3;
        --color: white;
        ion-buttons
        {
            ion-icon
            {
                font-size: xx-large;
            }
        }
    }
}

ion-tab-bar
{
    padding: 0 5%;
    
    ion-tab-button
    {
        img
        {
            height: 75%;
        }
    }
}