ion-header
{
    ion-toolbar
    {
        ion-buttons
        {
            ion-icon
            {
                font-size: xx-large;
            }
        }
    }
}

ion-tab-bar
{
    padding: 0 5%;
    
    ion-tab-button
    {
        --color-selected: #0094fc !important;
        img
        {
            height: 75%;
        }
    }
}