<ion-header>
  <ion-toolbar>
    <ion-title>Analyze</ion-title>
    <ion-buttons slot="start" (click)="close()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
        <ion-tab-button tab="iqs">
          <img src='assets/icon/iqs.png'>
        </ion-tab-button>
  
        <ion-tab-button tab="seon">
          <img src='assets/icon/seon.png'>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>


