<ion-content>
    <ion-row>
      <p>Mail : {{seon.seonMail}}</p>
    </ion-row>
    <ion-row>
      <p>Score : {{seon.seonScore}}</p>
    </ion-row>
    <ion-row>
      <p>Temporary : {{seon.seonDisposable}}</p>
    </ion-row>
    <ion-row>
      <p>Delivrable : {{seon.seonDeliverable}}</p>
    </ion-row>
    <ion-row>
      <p>Free : {{seon.seonFree}}</p>
    </ion-row>
    <ion-row>
      <p>Custom : {{seon.seonCustom}}</p>
    </ion-row>
    <ion-row>
      <p>Suspicious TLD : {{seon.seonSuspiciousTld}}</p>
    </ion-row>
    <ion-row>
      <p>Website : {{seon.seonWebsiteExist}}</p>
    </ion-row>
    <ion-row>
      <p>Facebook : {{seon.seonFacebookExist}}</p>
    </ion-row>
    <ion-row>
      <p>Google : {{seon.seonGoogleExist}}</p>
    </ion-row>
    <ion-row>
      <p>Twitter : {{seon.seonTwitterExist}}</p>
    </ion-row>
    <ion-row>
      <p>Microsoft : {{seon.seonMicrosoftExist}}</p>
    </ion-row>
    <ion-row>
      <p>Linkedin : {{seon.seonLinkedinExist}}</p>
    </ion-row>
    <ion-row>
      <p>Discord : {{seon.seonDiscordExist}}</p>
    </ion-row>
    <ion-row>
      <p>Amazon : {{seon.seonAmazonExist}}</p>
    </ion-row>
    <ion-row>
      <p>Addeb by : {{seon.seonAddedBy}}</p>
    </ion-row>
  </ion-content>
  