ion-header
{
  ion-toolbar
  {
    ion-buttons
    {
      padding-right: 5vw;
      ion-icon
      {
        height: 10vw;
        width: 10vw;
      }
    }
  }
}

ion-row
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;



  .welcome
  {
    text-align: center;
    margin-top: 5vh;

    strong
    {
      font-size: x-large;
      line-height: 26px;
    }
  }

  .analyzeField
  {
    margin-top: 35vw;
    ion-item
    {
      --background: none;
        border: 1px solid gray;
        border-radius: 10px !important;
      // ion-input
      // {
      // }
    }
  }

  // .button
  // {
  //   ion-button
  //   {
  //   }
  // }

}