*
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table
{
    width: 100vw;
    margin: 0 auto;
    border: 1px solid #2196f3;
    border-collapse: collapse;
    tr
    {
        th
        {
            border-bottom: 1px solid #2196f3;
            a
            {
                text-decoration: none;
                color: #2196f3;
                font-size: 1.2rem;
            }
        }
        td
        {
            padding: 1vh 1vw;
        }
        .key
        {
            border-right: 1px solid #2196f3;
            text-align: center;
        }
        .result
        {
            padding-left: 3vw;
        }
    }
}