<ion-content>
  <ion-row>
    <p>Mail : {{iqs.iqsMail}}</p>
  </ion-row>
  <ion-row>
    <p>Temporary : {{iqs.iqsDisposable}}</p>
  </ion-row>
  <ion-row>
    <p>Smtp Score : {{iqs.iqsSmtpScore}}</p>
  </ion-row>
  <ion-row>
    <p>Overall Score : {{iqs.iqsOverallScore}}</p>
  </ion-row>
  <ion-row>
    <p>First Name : {{iqs.iqsFirstName}}</p>
  </ion-row>
  <ion-row>
    <p>Common : {{iqs.iqsCommon}}</p>
  </ion-row>
  <ion-row>
    <p>Generic : {{iqs.iqsGeneric}}</p>
  </ion-row>
  <ion-row>
    <p>Dns Valid : {{iqs.iqsDnsValid}}</p>
  </ion-row>
  <ion-row>
    <p>Honeypot : {{iqs.iqsHoneypot}}</p>
  </ion-row>
  <ion-row>
    <p>Fraud Score : {{iqs.iqsFraudScore}}</p>
  </ion-row>
  <ion-row>
    <p>Frequent Complainer : {{iqs.iqsFrequentComplainer}}</p>
  </ion-row>
  <ion-row>
    <p>Added by : {{iqs.iqsAddedBy}}</p>
  </ion-row>

</ion-content>
